.banner-principal-decorativo
  &-1
    top: 35%
    right: 65%
    width: 50px
    position: absolute
    animation: float1 3.6s ease-in-out infinite alternate
  &-2
    top: 70%
    right: 75%
    width: 50px
    position: absolute
    animation: float1 3.6s ease-in-out infinite alternate
  &-3
    top: 50%
    right: 15%
    width: 50px
    position: absolute
    animation: float1 3.6s ease-in-out infinite alternate

@media (min-width: 1025px)
  .banner-principal-decorativo
    &-1
      top: 15%
      right: 70%
      width: 70px
    &-2
      top: 75%
      right: 85%
      width: 70px
    &-3
      top: 45%
      right: 10%
      width: 70px

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-sm)
    background-image: url('../assets/curso/portada/fondo-banner-contenido-mobile.png') !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url('../assets/curso/portada/fondo-banner-contenido-tablet.png') !important
  .banner-principal__row 
  .banner-principal__img
    width: 400px
    padding-bottom: 0 !important
    padding-top: 28px !important

@media (min-width: 1025px)
  .banner-principal__row .banner-principal__img
    width: 580px
    padding-bottom: 0 !important
    padding-top: 0 !important

.titulo-principal__numero
  max-width: 45px
  height: 45px
  margin-right: 15px
  position: relative
  background-color: $color-acento-contenido !important

.banner-interno__fondo 
  background-image: url('../assets/curso/portada/fondo-banner-principal.png') !important

  .banner-principal .tarjeta
  background-position: left 50% !important 

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal


// Fondos 
.bg_img
  &_1
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: -100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_1/img_13.png') !important
      background-repeat: no-repeat
  &_2
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: -140px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_1/img_14.png') !important
      background-repeat: no-repeat
  &_3
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 200px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_1/img_15.png') !important
      background-repeat: no-repeat
  &_4
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 95px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_1/img_16.png') !important
      background-repeat: no-repeat
  &_5
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: -40px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_2/img_28.png') !important
      background-repeat: no-repeat
  &_6
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_2/img_29.png') !important
      background-repeat: no-repeat
  &_7
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_2/img_30.png') !important
      background-repeat: no-repeat
  &_8
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_3/img_33.png') !important
      background-repeat: no-repeat
  &_9
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_3/img_34.png') !important
      background-repeat: no-repeat
  &_10
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: -250px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_3/img_35.png') !important
      background-repeat: no-repeat
  &_11
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_3/img_36.png') !important
      background-repeat: no-repeat
  &_12
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_4/img_22.png') !important
      background-repeat: no-repeat
  &_13
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_4/img_23.png') !important
      background-repeat: no-repeat
  &_14
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_4/img_24.png') !important
      background-repeat: no-repeat

///tarjeta personalizadas
.tarjeta
  &_img_1
    background-image: url('../assets/curso/temas/tema_1/img_5.png')
    background-repeat: no-repeat
    background-position: left
    background-size: cover
    padding: 30px
    padding-left: 30px
    @media (min-width: 768px) 
      padding: 20px
      padding-left: 70px
  &_img_2
    background-image: url('../assets/curso/temas/tema_2/img_18.png')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    border-top-left-radius: 20px
    border-bottom-right-radius: 20px
    padding: 30px
 

///////// Card hover --------------------------------------
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important 
  &:hover    
    .crd_hover_txt--body   
      background-color: $color-primario-5
      color: $color-sistema-texto
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
    h4
      color: $color-sistema-texto !important

  .crd_hover_txt--body
    position: absolute
    padding: 1.2rem 0.5rem 1.5rem 0.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: $white
    &.color-primario
      background-color: $color-primario
    &.color-acento-contenido
      background-color: $color-acento-contenido
    h4
      color: $color-sistema-texto
      font-style: italic

  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em

// Tabla a 
.tabla-a thead
  border-top: 10px $color-acento-contenido solid
  color: $color-sistema-a
  background-color: $color-acento-contenido-20

.bg-table-01
  background-color: $color-adicional-2
  color: $color-sistema-texto
.b 
  font-weight: bold

// acordion
.acordion__activo
  background-color: $color-primario-5 

// tarjeta-tabs-a
.tarjeta-tabs-a
  margin-bottom: 0 !important
  .tabs-a__tab
    margin-bottom: 10px !important
    background-color: $color-sistema-f
    &:hover
      background-color: $color-adicional-4
      color: $white
    &::before
      background-color: $color-adicional-4
      color: $white
    &__selected
      background-color: $color-adicional-4
      color: $white
  .tabs-a__content-item
    height: 100%
  &__tarjeta
    display: flex
    flex-direction: column
    gap: 3px
    justify-content: center

// factores-slider custom-slider
.factores-slider, .custom-slider
  &__icon 
    max-height: 93px
  
  &__title-wrapper
    text-align: center

  &__title
    margin-top: -150px
    position: relative
    font-size: 1.07rem
    font-weight: 700
    &.color-secundario-20
      background-color: $color-secundario-20
      padding: 10px 15px
      margin-bottom: 10px
      color: $color-sistema-texto
  
  &__content
    display: inline-block
    padding: 5px 5px
  
  .slyder-f
    align-items: center
    justify-content: center
    gap: 0

  .slyder-f__main
    width: 100%
    height: 100%

  .slyder-f__btn
    height: 42px
    width: 42px
    min-width: 42px
    background-color: $color-terciario
    color: $white
    border-radius: 50%
    padding: 0 !important
    transition: transform 0.3s
    z-index: 100
    &:hover
      transform: scale(1.1)
    .fa-chevron-left, .fa-chevron-right
      font-size: 1.5rem
    &.ps-3
      margin-left: 7px
      @media (max-width: 1024px)
        margin-left: 7px
    &.pe-3
      margin-right: 7px
      @media (max-width: 1024px)
        margin-right: 7px

.custom-slider
  &__tarjeta
    min-height: 38rem
    min-width: 17.13rem
    border-radius: 20px
    padding: 19rem 0.7rem 0.7rem 0.7rem !important
    margin: 0.7rem 0.5rem 0.7rem 0.5rem
    position: relative
    display: flex
    flex-direction: column
    box-shadow: 0 15px 30px rgba(0,0,0,0.1)
    
  @media (max-width: 1024px)
    &__tarjeta
      min-height: 25rem
      min-width: 12.5rem
      padding: 18rem 0.7rem 0.7rem 0.7rem !important
      margin: 0
